*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background:#21272c;
    color:#fff;
}

.main{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:350px;
    background: #fff;
    height:300px;
}
.top-btn{
    display:flex;
    flex-direction: row;
    width:100%;
}
.top-btn button{
    width:100%;
}
.loginform{
    width:90%;
    position:relative;
    top:10%;
}

.remember{
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:#000;
    margin-top:3px;
}

.remember button{
    border:none;
    background: none;
    padding:0;margin:0;
    font-size:10px;
}


.signin button{
    width:100%; 
}

/* above this aligned each item at its place */

/* decoration of items ! down below*/
.btn-top-sign-in {
    padding:7px 3px 7px 3px;
    background: #fff;
    border:none;
}
.btn-top-sign-up{
    padding:7px 3px 7px 3px;
    background: #fff;
    border:none;
} 


.inputgmail input{
   padding:7px 3px 7px 3px;
   width:100%;
   margin:0 0 10px 0; 
   background:rgb(113, 224, 243);
   border:none;
   border-radius:5px;
}
.inputpass input{
    padding:7px 3px 7px 3px;
    width:100%;
    margin:10px 0 0 0; 
    background:rgb(113, 224, 243);
    border:none;
    border-radius:5px;
}
.inputpass2 input{
    padding:7px 3px 7px 3px;
    width:100%;
    margin:20px 0 10px 0; 
    background:rgb(113, 224, 243);
    border:none;
    border-radius:5px;
    display:none;
}
.show input{
    display:block;
}
.signin button{
    padding:7px 3px 7px 3px;
    margin:10px 0;
    background:rgb(88, 197, 106);
    border:none;
    border-radius:5px;
}
/* cursor effect */

.top-btn button:hover,:active{
    cursor: pointer;
    outline:none;
}

.btn-sign-in:hover{
    cursor:pointer;
    outline:none;
}

.remember button:hover{
    cursor:pointer;
    outline: none;
}

/* event  */
.changeBorder{
    border-bottom:2px solid #58b87d;
}

.hide{
    display: none;
}
